@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif !important;
}
.color{
    color: red;
    align-items: center;
    justify-content: center;
    display: flex;
    }
  